<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.shubh.e_comm_ver1">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeLight"
        tools:replace="android:theme">
        <activity android:name="io.shubh.e_comm_ver1.Splash.OnboadingActivity"></activity>
        <!--
       tools:replace="android:theme" this line is required becuase I m using custom theme made by me for application theme in the line
       android:theme="@style/AppThemeLight"
        -->
        <activity android:name="io.shubh.e_comm_ver1.Splash.View.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="io.shubh.e_comm_ver1.Welcome.View.WelcomeActivity" />
        <activity android:name="io.shubh.e_comm_ver1.Main.View.MainActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            -->
        </activity>

        <service android:name="io.shubh.e_comm_ver1.Utils.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_tiSVcFM2GqxK6a" /> <!-- download the required local model(s) at install-time. -->
        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="label" />
    </application>

</manifest>